<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="6.0" metadata-complete="true">
    <servlet>
        <servlet-name>minimal-jackson</servlet-name>
        <servlet-class>com.sample.minimal.jackson.MinimalJacksonServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>minimal-jackson</servlet-name>
        <url-pattern>/minimal-jackson/*</url-pattern>
    </servlet-mapping>
</web-app>